.user-content {
    width: 100%;
    // height: calc(100vh - 91px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    
    &__link{
        // width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
        color: red;
        &:hover {
            color: greenyellow;
        }
    }
}